<template>
  <div>
    <v-row justify="center" dense>
      <v-col cols="12" sm="8" md="6" lg="5" xl="4">
        <v-card class="mt-5 elevation-12">
          <v-card-title
            class="text-center text-subtitle-1 font-weight-medium pb-0"
            >{{ $t("login.title") }}</v-card-title
          >

          <v-form
            @submit.prevent="submit"
            ref="form"
            v-model="valid"
            v-if="loginByCode"
          >
            <v-card-text class="px-6 py-1">
              <vue-tel-input-vuetify
                defaultCountry="fr"
                @input="onInput"
                :rules="[$v.required()]"
                :error="!phoneValid"
                :label="$t('login.phone')"
                :placeholder="$t('login.phone')"
              ></vue-tel-input-vuetify>
              <v-text-field
                class="prepend-icon-wide"
                v-if="phoneNumberExists"
                prepend-icon="mdi-key"
                :label="$t('login.code')"
                v-model="code"
                required
                :rules="[$v.required()]"
                type="number"
              ></v-text-field>
            </v-card-text>

            <v-card-actions class="justify-center">
              <v-btn
                v-show="!phoneNumberExists"
                type="submit"
                :disabled="!phoneValid || phone == ''"
                color="secondary"
                >{{ $t("login.sendCode") }}</v-btn
              >
              <v-btn
                v-show="phoneNumberExists"
                type="submit"
                :disabled="!phoneValid || code == ''"
                color="secondary"
                >{{ $t("login.submit") }}</v-btn
              >
            </v-card-actions>
          </v-form>
          <v-form
            @submit.prevent="submit"
            ref="signUpForm"
            v-model="formValidity"
            v-else
          >
            <v-card-text class="px-6 py-1">
              <v-text-field
                class="prepend-icon-wide"
                prepend-icon="mdi-numeric"
                :label="$t('login.registrationNumber')"
                v-model="registrationNumber"
                required
                :rules="registrationNumberRules"
                type="number"
              ></v-text-field>
              <v-text-field
                class="prepend-icon-wide"
                prepend-icon="mdi-account"
                :label="$t('login.lastName')"
                v-model="lastName"
                required
                :rules="lastNameRules"
              ></v-text-field>
            </v-card-text>

            <v-card-actions class="justify-center">
              <v-btn
                type="submit"
                :disabled="!formValidity"
                color="secondary"
                >{{ $t("login.submit") }}</v-btn
              >
            </v-card-actions>
          </v-form>
          <br />
          <span
            @click="loginByCode = !loginByCode"
            class="d-flex justify-center text-decoration-underline pointer"
            >{{ loginModeText }}</span
          >
        </v-card>
      </v-col>
    </v-row>
  </div>
</template>

<script>
import axios from "axios";

export default {
  // Data has regular function since the this keyword used to reference i18n isn't bound correctly in arrow function
  // https://github.com/kazupon/vue-i18n/issues/119
  data: function() {
    return {
      loginByCode: false,
      valid: false,
      phoneNumberExists: false,
      phoneValid: true,
      phone: "",
      code: "",
      registrationNumber: "",
      lastName: "",
      lastNameRules: [
        (value) => !!value || this.$i18n.t("errors.validator.required"),
        (value) =>
          /^[a-zA-Z' ]+$/.test(value) ||
          this.$i18n.t("errors.validator.format"),
      ],
      registrationNumberRules: [
        (value) => !!value || this.$i18n.t("errors.validator.required"),
        (value) =>
          value.length >= 5 ||
          this.$i18n.t("errors.validator.minLength", { 0: "5" }),
        (value) =>
          value.length <= 8 ||
          this.$i18n.t("errors.validator.maxLength", { 0: "8" }),
      ],
      formValidity: false
    }
  },
  methods: {
    onInput(formattedNumber, { number, valid, country }) {
      this.phone = number.international;
      this.phoneValid = valid;
      this.country = country && country.name;
    },
    async submit() {
      if (this.phoneNumberExists) {
        this.loginWithCode();
      } else if (!this.loginByCode) {
        this.loginWithRegistrationNumber();
      } else {
        this.requestCode();
      }
    },
    async requestCode() {
      const auth = await axios.post("/api/auth/sendCode", {
        phone: this.phone,
      });
      if (auth) {
        this.phoneNumberExists = true;
      } else {
        this.$store.commit("ERROR", this.$t("login.phone_not_found"));
      }
    },
    async loginWithCode() {
      const auth = await axios.post("/api/auth/loginWithCode", {
        phone: this.phone,
        code: this.code,
      });

      if (!auth) {
        this.$store.commit("ERROR", this.$t("login.incorrect_code"));
        return;
      }

      await this.$store.dispatch("AUTHENTICATE", auth);

      this.$router.push("/").catch(() => {});
    },
    async loginWithRegistrationNumber() {
      const auth = await axios.post("/api/auth/loginWithRegistrationNumber", {
        registration_number: this.registrationNumber,
        last_name: this.lastName,
      });

      if (!auth) {
        this.$store.commit("ERROR", this.$t("login.incorrect_info"));
        return;
      }

      await this.$store.dispatch("AUTHENTICATE", auth);

      this.$router.push("/").catch(() => {});
    },
  },
  computed: {
    loginModeText() {
      return this.loginByCode
        ? this.$t("login.loginByCode")
        : this.$t("login.loginByRegistrationNumber");
    }
  }
};
</script>

<style>
.prepend-icon-wide .v-input__prepend-outer {
  margin: 0 25px;
}

.pointer {
  cursor: pointer;
}
</style>
